<!DOCTYPE html>
<html>
<head>
    <title>Crypto Volatility and Risk Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="home-container">
    <div class="home-overlay">
        <h1 class="home-title">Crypto Volatility and Risk Analyzer</h1>
        <p class="home-subtitle">
            Analyzing Cryptocurrency Risk Through Data Visualization
        </p>

        <div class="home-buttons">
            <a href="/milestone1" class="home-btn">Milestone 1</a>
            <a href="/milestone2" class="home-btn secondary">Milestone 2</a>
        </div>
    </div>
</div>

</body>
</html>
